body {
    padding: 0;
    margin: 0;
    background-color: #BBD1EA;
}

.container {
    padding: 5px;
}

#my-canvas {
    background-color: white;
    border-style: solid;
    border-width: 3px;
    border-color: black;
    margin: 0 auto;
    display: block;
}

.icon {
    position: relative;
    display: inline-block;
    font-size: 4em;
    float: right;
    margin: 10px;
    transition: color .5s;
    color: #04080F;
}

.icon:hover {
    color: #A2C3A4;
    cursor: pointer;
}

.icon.clickable.selected {
    color: #A1C6EA;
}

.icon.left {
    float: left;
}

.fa {
    font-size: 1em;
}

.navbar {
    height: 100px;
    background-color: #457B9D;
    border-bottom: solid 6px #BBD1EA;
}

.list-left {
    float: right;
}

.fill {
    float: right;
    margin-top: 40px;
    margin-right: 40px;
}

ul {
    list-style-type: none;
}