.progressbar{
    /* some style */
    width: 100%;
    background-color: #E3E3E3;
    border-radius: 20px;
    max-width: 30%;
}

.progress{
    padding: 10px 0px;
    border-radius: 20px;
    text-align: center;
}

.progress-info{
    background-color: #00FFEB
}   

.progress-success{
    background-color: #185291
}

.progress-warning{
    background-color: #FFD752
}

.progress-danger{
    background-color: #FF5757
}

.striped{ /*https://stackoverflow.com/questions/31546894/making-smoothly-animated-striped-div*/
    background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.1) 25%,
                        transparent 25%,
                        transparent 50%,
                        rgba(0, 0, 0, 0.1) 50%,
                        rgba(0, 0, 0, 0.1) 75%,
                        transparent 75%,
                        transparent);
}

.animated{
    transition: opacity 0.3s ease;
}