// Insert your styles here, using LESS
#root-container{
    height: 100%;
}

body {
    height: 100%;
    font-family: 'Courier New', Courier, monospace;
    margin: auto;
  }

    #app {
        height: 100%;
        box-sizing: border-box;

        .title{
            text-align: center;
            margin: 50px 0px;
        }

        .title-info{
            margin-bottom: 20px;
        }

        .title-heading{
            margin: 0 auto;
        }

        .home-container{
            width: 30%;
            margin: 0 auto;
            display: block;
            height: 100%;
            text-align: center;
        }

        .main-container{
            background-color: lightgray;
            width: 100%;
            margin: 0 auto;
            display: flex;
            height: 100%;
        }

        .info-container{
            background-color: lightblue;
            //float: left;
        }

        .header{
          position: fixed;
          top: -6px;
          left: 181px;
          width: 1026px;
          height: 60px;
          float: left;
          border-style: solid;
          border-color: black;
          background: #337ab7;
        }

        .room-container{
            background-color: lightpink;
        }

        .chatroom {
          color: red;
          text-align: left;
          margin-top: 60px;
        }

        .users-in-room-container{
            background-color: limegreen;
        }

        .login-input{
            text-align: center;
        }

        .create-room-form{
            text-align: center;
            margin: 0 auto; margin: 0 auto;
            width:250px;
            width: 30%;
        }
        .join-button{
            float: right;
        }
        .icon{
            margin: 0px 15px;

        }
        .icon-large{
            font-size: 1.5em;
        }

        .form-center{
            width: 100%;
        }

        .btn-left{
            float: left;
        }

        .btn-right{
            float: right;
        }

        // The gray background
        .backdrop{
            position: 'fixed';
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background-color: green;
            padding: 50;
        }

        // The modal window
        .modal{
            background-color: red;
            border-radius: 5;
            max-width: 500;
            max-height: 300;
            display: grid;
            margin: '0 auto';
            padding: 30;
        }
    }
