// Insert your styles here, using LESS
@banner-height: 80px;

#root-container{
    height: 100%;
}

body {
    height: 100%;
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
  }

    #app {
        height: 100%;
        box-sizing: border-box;

        .title{
            text-align: center;
            margin: 50px 0px;
        }

        .center{
          text-align: center;
        }

        .title-info{
            margin-bottom: 20px;
        }

        .title-heading{
            margin: 0 auto;
        }

        .home-container{
            width: 30%;
            margin: 0 auto;
            display: block;
            height: 100%;
            text-align: center;
        }

        .container{
            padding: 0px;
            margin: 0 auto;
        }


        .main-container{
            background-color: white;
            width: 100%;
            margin: 0 auto;
            display: flex;
            height: 100vh;
        }

        .info-container{
            background-color: white;
            float: left;
            padding-left: 15px;
            margin-top: @banner-height;
            width: 18%;
        }

        ul.list-group.room-list {
            overflow-y: scroll;
            height: 78vh;
        }

        .header{
          position: fixed;
          width: 100%;
          height: @banner-height;
          float: left;
          border-style: solid;
          border-color: slategrey;
          background: #5f5f5f;
          color: #f1f1f1;
        }

        .room-container{
            background-color: #4CAF50;
            margin-top: @banner-height;
            width: 80%;
            padding-left: 15px;
        }

        .chatroom {
          color: red;
          text-align: left;
          height: @banner-height;
          height: 100%;
        }

        .list-group {
          overflow: auto;
        }

        .list-group-item {
          overflow: auto;
        }

        .users-in-room-container{
            background-color: white;
            margin-top: @banner-height;
            width: 20%;
            padding-left: 15px;
        }

        .login-input{
            text-align: center;
        }

        .create-room-form{
            text-align: center;
            margin: 0 auto; margin: 0 auto;
            width:250px;
            width: 30%;
        }
        .join-button{
            float: right;
            line-height: 10px;
        }
        .icon{
            margin: 0px 15px;

        }
        .icon-large{
            font-size: 1.5em;
        }

        .form-center{
            width: 100%;
        }

        .btn-left{
            float: left;
        }

        .button-right{
          display: grid;
        }

        .btn-right{
            float: right;
        }

        // The gray background
        .backdrop{
            position: 'fixed';
            background-color: green;
            padding: 50;
        }

        // The modal window
        .modal{
            border-radius: 5;
            max-width: 500;
            max-height: 300;
            display: grid;
            margin: '0 auto';
            padding: 30;
            top: 10%;
            bottom: 10%;
            left: 30%;
            right: 30%;
        }
    }
