@keyframes modalPopUp{
    0% { top: 100%; }
    25% { top: 55%; }
    50% { top: 30%; }
    75% { top: -10%; }
    100% { top: 0%; }
}

.modal{
    /* some style */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0,0.4); /* Fallback color */
    animation-name: modalPopUp;
    animation-duration: .4s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
}

.modalcontent{
    text-align: center;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    max-width: 60%;
    background-color: #F5F5F5;
    color: #185291;
    font-family: 'Ubuntu', sans-serif;
}

.centered{
    text-align: center;
}


.title {
    padding: 5px;
    font-weight: bold;
    font-size: 1.7em;
}

.body {
    padding: 20px;
    /* height: 150px; */
    font-size: 1.2em;
}

.footer {
    padding: 10px;
    height: 20px;
    border-top: solid 3px blue;
}